<template>
    <form @submit="onSubmit" >
        <div class="formSection">
            <label for="nome">nome <p v-if="errors && !nome" class="errors">nome obbligatorio</p></label>
             
            <input type="text" id="nome" v-model="nome">
        </div>
        <div class="formSection">
            <label for="cognome">cognome<p v-if="errors && !cognome" class="errors">cognome obbligatorio</p></label>
            <input type="text" id="cognome" v-model="cognome">
        </div>
        <div class="formSection relative">
            <label for="username">username<p v-if="errors && !username" class="errors">username obbligatorio</p></label>
            <input type="text" id="username" v-model="username" @click="usernameOnFocus">
            <Suggerimento class="hintWrapper"  :hints="hints.items" v-if="username && !hintClicked" @chooseHint="selectHint" />
        </div>
        <button class="btnSubmit" type="submit">Cerca Utente</button>
    </form>

</template>

<script>
import Suggerimento from "./Suggerimento.vue"

export default{
    name: "Form",
    components:{
        Suggerimento
    },
    data(){
        return {
            nome: "",
            cognome: "",
            username:"",
            hints: [],
            hintClicked: false,
            errors: false
        }
    },
    methods:{
        onSubmit(e){
            e.preventDefault();
            if(!this.username || !this.nome || !this.cognome){
                this.errors = true;
                return
            }

            const fullName = {
                nome: this.nome,
                cognome: this.cognome,
                username: this.username
            }

            this.$emit('loadFullName', fullName)
        },
        async showHints(searchText){
            if(searchText){
                const endpoint = "https://api.github.com/search/users?q=";
                const res = await fetch(endpoint+searchText+'&per_page=5',{
                    headers: {
                        authorization: "token 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"
                    }
                })
                const users = await res.json();
            
                this.hints = users;
                
                
            }
        },
        selectHint(user){
            this.hintClicked=true;
            this.username=user;
        },
        usernameOnFocus(){
            this.hintClicked = false;
        }
    },
    emits: [
        'loadFullName'
    ],
    watch: {
        username: function(val){
            this.showHints(val)
        }
    }
}
</script>

<style scoped>
.formSection{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    gap: .3rem;
}

.formSection label{
    color: white;
}

.formSection input{
    height: 2rem;
}

.btnSubmit{
    background: #303a52;
    border: solid transparent;
    color: white;
    padding: 1rem;
    border-bottom: solid 5px transparent; 
}
.btnSubmit:hover{
    border-bottom: solid 5px #fc85ae;
    transition: all .4s linear;
    cursor: pointer;
}

.hintWrapper{
    position: absolute;
    top: 80%;
    background: #fffeb8;
    width: 100%;
}

.relative{
    position: relative;
}

.errors{
    display: inline;
    color: red;
    background: yellow;
}
</style>