<template>
    <div v-if="trovato" class="foundSection">
        <h2>Benvenuto</h2>
        <h2>{{nome}} {{cognome}}</h2>
        <div class="imgContainer">
            <img :src="userObj.avatar_url" alt="profile picture">
        </div>
        <h2>@{{userObj.login}}</h2>
    </div>
    <div v-else class="lostSection">
        <p>Ci dispiace {{nome}} {{cognome}}, non ti abbiamo trovato</p>
    </div>

    <button class="btnReload" @click="reloadPage()">Ripeti la ricerca</button>
</template>

<script>
    export default{
        name: "Results",
        props: {
            nome: String,
            cognome: String,
            userObj: Object,
            trovato: Boolean
        },
        methods: {
            reloadPage(){
                location.reload()
            }
        }
    }
</script>

<style scoped>

.imgContainer img{
    width: 100px;
    height: 100px;
}

.foundSection, .lostSection{
    color: white;
    text-align: center;
}

.btnReload{
    border: solid #7c203a 2px;;
    padding: 1rem;
    background: #775ada;
    color: #feff89;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.btnReload:hover{
    border: solid 2px aquamarine;
    transition: border .3s linear;
}

</style>
