<template>
    <div>
        <div v-for="(h, index) in hints" :key="index">
            <p @click="onClick(h.login)">{{h.login}}</p>
        </div>
    </div>
</template>

<script>
export default{
    name: "Suggerimento",
    props: {
        hints: Array
    },
    methods: {
        onClick(user){
            this.$emit('chooseHint', user)
        }
    }
}
</script>


<style scoped>
p{
    margin: 0;
}
p:hover{
    background: #492540;
    color: white;
}
</style>
