<template>
    <h1>Cerca Utente Github</h1>
    <main class="mainContainer mainContainer-style">
        <Form @loadFullName="loadGitUser" v-if="!this.fetched" />
        <Results v-if="this.fetched" :nome="this.fullName.nome" :cognome="this.fullName.cognome" :userObj="userObject" :trovato="trovato" /> 
        <Loader v-if="!this.loaded && this.fetched" />
    </main>

</template>

<script>
import Form from "./components/Form.vue"
import Results from "./components/Results.vue"
import Loader from "./components/Loader.vue"

export default{
    name: "App",
    data(){
        return{
            fetched: false,
            fullName: "",
            loaded: false,
            trovato: false,
            userObject: {}

        }
    },
    components:{
        Form,
        Results,
        Loader
    },
    methods:{
        loadGitUser(fullName){
            this.fullName = fullName;
            this.fetched = true;

            const endpoint = "https://api.github.com/users/"

            fetch(endpoint+fullName.username).then(res => {
                if(res.ok){
                    this.trovato=true;
                    res.json().then(res => {
                        this.loaded = true;
                        this.userObject = res;
                    })
                }else{
                    this.loaded = true;
                }
            })
        }
    }
}

</script>

<style>
*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #fc85ae;
}
h1{
    text-align:center;
}
.mainContainer{
    width: 40%;
    min-width: 300px;
    min-height: 250px;
    border: solid 2px red;
    margin: 2rem auto;
    padding: 1rem 2rem;
}

.mainContainer-style{
    background: #9e579d;
    border: solid 2px #574b90;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px #574b90;
}
</style>
